
 <div class="center hero-unit">
    	<h1>Artist Portal</h1>
    	<br>
    	<p><%= link_to "Sign in With Facebook", "auth/facebook?state=artist", class: "btn btn-large btn-primary" %></p>
		<p> Or</p>
    	<p><%= link_to "New Artist? Register Here", "auth/facebook?state=artistnew" %></p>
</div>
