 <div class="center hero-unit">
    	<%= image_tag("tclogo2.png", size: "448x172",  alt: "Tuneclout") %>
    	<p>Welcome to the Clout MVP application.</p>

    	<%= link_to "Sign up now!", new_listener_path, class: "btn btn-large btn-primary" %>
</div>

