<% provide(:title, 'Artist Sign up') %>
<h1>Artist Sign up</h1>

<div class="center hero-unit">

    <%= link_to "Sign in With Facebook", "/auth/facebook", class: "btn btn-large btn-primary" %>
       
</div>
